.--noborders {
    border: none;
    border-bottom: none;
}

.--nomargins {
    margin: 0 !important;
}

.--flex-center{
    justify-content: center !important;
    align-items: center !important;
    align-content: center !important;
}

.--flex-around{
    justify-content: space-around !important;
}